h1{
text-align:center;
font-size: 60px;
font-family:sans-serif;
color:rgb(5, 83, 5);
}
h3{
    text-align:center;
    font-size: 30px;
    font-family:sans-serif;
    color:rgb(3, 58, 52);
}
.palette{
    
 display:grid;
 grid-template-columns:200px 200px 200px;
 grid-template-rows: 150px 150px 150px 50px;
 gap:50px;   
 justify-content:center;
 margin-top:150px;

}

#violet{
    background-color:violet;
}
#blue{
    background-color:blue;
}
#green{
    background-color:green;
}
#yellow{
    background-color:yellow;
}
#orange{
    background-color:orange;
}
#red{
    background-color:red;
}
#black{
    background-color:black;
}
#grey{
    background-color:grey;
}
#brown{
    background-color:brown;
}
#white{
    background-color:white;  
    font-size: 20px;
    grid-column-start:2; 
    grid-column-end:3; 
}
#white:hover{
    background-color:rgb(227, 227, 179);
}
.item{
    border: solid ;
    
}

@media screen and (max-width:500px)
{
    .palette{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
      .item{
        width:200px;
        height:150px;
    }
    #white{
        width:200px;
        height:50px;
    }
        
}
